.paket/paket.exe
paket-files/
packages/
paket.lock
artifacts/
node_modules/
.env.ps1
tmp.csproj
.hidden/
temp/
obj/
bin/
test-results/
.tools/
*.suo
/csproj.pssproj.user
/npm-debug.log
/csproj.sln.DotSettings.user
