<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net451" />
  <package id="bootstrap" version="3.0.0" targetFramework="net451" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net451" />
  <package id="Castle.Windsor.Mvc" version="1.3.0.0" targetFramework="net451" />
  <package id="Common.Configuration" version="2.0.1-beta1" targetFramework="net451" />
  <package id="Common.Configuration.log4net" version="2.0.0-beta1" targetFramework="net451" />
  <package id="Common.Mvc.Utils" version="1.1.463" targetFramework="net451" />
  <package id="Common.Owin.Security" version="1.1.5611.14304" targetFramework="net451" />
  <package id="Common.Owin.vnext" version="2.0.0-beta1" targetFramework="net451" />
  <package id="Common.Utils.log4net" version="2.0.0-beta1" targetFramework="net451" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net451" />
  <package id="foolproof" version="0.9.4517" targetFramework="net451" />
  <package id="jQuery" version="1.10.2" targetFramework="net451" />
  <package id="jQuery.Validation" version="1.11.1" targetFramework="net451" />
  <package id="Legimi.Core.Services" version="1.3.0" targetFramework="net451" />
  <package id="Legimi.Microsoft.Framework.ConfigurationModel" version="1.0.3" targetFramework="net451" />
  <package id="Legimi.Microsoft.Framework.ConfigurationModel.Interfaces" version="1.0.1" targetFramework="net451" />
  <package id="Legimi.Microsoft.Framework.ConfigurationModel.Json" version="1.0.3" targetFramework="net451" />
  <package id="log4net" version="2.0.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.HelpPage" version="5.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.Framework.Configuration" version="1.0.0-beta8" targetFramework="net451" />
  <package id="Microsoft.Framework.Configuration.Abstractions" version="1.0.0-beta8" targetFramework="net451" />
  <package id="Microsoft.Framework.Configuration.EnvironmentVariables" version="1.0.0-beta8" targetFramework="net451" />
  <package id="Microsoft.Framework.Configuration.FileExtensions" version="1.0.0-beta8" targetFramework="net451" />
  <package id="Microsoft.Framework.Configuration.Json" version="1.0.0-beta8" targetFramework="net451" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.0" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.Cookies" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.Facebook" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.Google" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.MicrosoftAccount" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.OAuth" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.Twitter" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.0.0" targetFramework="net451" />
  <package id="Modernizr" version="2.6.2" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="NowaEra.Core.Cache" version="1.0.1" targetFramework="net451" />
  <package id="NowaEra.Core.ServiceBus" version="1.0.4.0" targetFramework="net451" />
  <package id="NowaEra.Core.ServiceBus.Azure" version="1.0.4.0" targetFramework="net451" />
  <package id="NowaEra.Core.ServiceBus.WindowsServer" version="1.0.4.0" targetFramework="net451" />
  <package id="NowaEra.Model.Core" version="1.1.4.0" targetFramework="net451" />
  <package id="NowaEra.Server.Configuration" version="2.0.0-beta3" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="QLogger.Log4net" version="1.3.0" targetFramework="net451" />
  <package id="QLogger.Solr" version="1.2.1" targetFramework="net451" />
  <package id="Respond" version="1.2.0" targetFramework="net451" />
  <package id="ServiceBus.v1_1" version="1.0.5" targetFramework="net451" />
  <package id="SolrNet" version="0.4.0.4001" targetFramework="net451" />
  <package id="StackExchange.Redis" version="1.0.481" targetFramework="net451" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net451" />
  <package id="Thinktecture.IdentityModel.Client" version="4.0.1" targetFramework="net451" />
  <package id="WebGrease" version="1.6.0" targetFramework="net451" />
  <package id="WindowsAzure.ServiceBus" version="2.6.7" targetFramework="net451" />
</packages>