<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value=".\packages" />
    <add key="otherkey" value=".\packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="local" value="..\packages-repo" />
  </activePackageSource>
  <packageSources>
    <add key="local" value="..\packages-repo" />
  </packageSources>
</configuration>